/vendor
*.lock
/build
composer.lock
composer.lock
*.lock
package-lock.json
.php-cs-fixer.cache
*.cache
.git-blame-ignore-revs
.git-rewrite
.git-blame-ignore-revs
*.phar
.php-cs-fixer.cache
*.cache
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
