/vendor
*.lock
/build
composer.lock
composer.lock
*.lock
package-lock.json
.php-cs-fixer.cache
*.cache
.git-blame-ignore-revs
.git-rewrite
.git-blame-ignore-revs
*.phar
.php-cs-fixer.cache
*.cache
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
.git-rewrite/
*.phar
.git-rewrite/
.php-cs-fixer.cache

node_modules
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
.git-blame-ignore-revs
build/
vendor/
build/
node_modules
docs/cache/
cache/
.git-blame-ignore-revs
.php-cs-fixer.cache
